{
	"singleQuote": true,
	"printWidth": 120,
	"trailingComma": "all",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"overrides": [
		{
			"files": "*.tsx",
			"options": {
				"parser": "typescript"
			}
		}
	]
}

// Update: 2024-12-13 20:01

// Update: 2024-12-14 20:00

// Update: 2024-12-20 20:01

// Update: 2024-12-23 20:02

// Update: 2024-12-24 20:03
